/* 
    Created on : 3 feb. 2024, 03:40:20
    Author     : robertosl
*/

/* estilos_comunes.css */
/* estilos_comunes.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#header {
    background: linear-gradient(to right, #0078d4, #8cff00);
    color: white;
    text-align: left;
    padding: 10px;
    padding-left: 10px;
    display: flex; /* Usa flexbox para alinear elementos en una fila */
    align-items: center; /* Alinea verticalmente en el centro */
}

#header img {
    max-width: 80px;
    margin-right: 10px;
    border-radius: 8px;
    border: 2px solid white;
}

#header h1 {
    margin: 0; /* Elimina el margen por defecto del h1 */
}
