/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2 feb. 2024, 23:18:33
    Author     : robertosl
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#header {
    background: linear-gradient(to right, #0078d4, #8cff00); /* Degradado de azul a verde */
    color: white;
    text-align: left;
    padding: 10px;
    padding-left: 10px; /* Añadido para el espacio a la izquierda */
}

#header img {
    max-width: 90px; /* Ajusta el tamaño del logo según tu preferencia */
}

#login-form {
    max-width: 400px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-form h2 {
    margin-bottom: 20px;
}

#login-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

#login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#login-form button {
    background-color: #0078d4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#new-access-link {
    text-align: center;
    margin-top: 20px;
}

#new-access-link a {
    color: #0078d4;
    text-decoration: none;
    font-weight: bold;
}